@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.prod {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card {
    display: flex;
}

.empty-cart {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #F27144;
    margin-top: 40px; 
}


.product-tumb {
    flex: 1;
    margin-right: 20px;
}

.product-tumb img {
    width: 100%;
    max-width: 150px;
    height: 120px;
}

.product-details {
    flex: 2;
}

.product-details h4 {
    margin: 0;
}

.product-bottom-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product-price {
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #F27144;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #c4613e;
}
@media only screen and (max-width: 768px) {
    .product-tumb {
      flex: 1.5;
    }
    .product-details {
      flex: 0.5; 
    }
    .product-bottom-details {
      flex-direction: column; 
    }
  }

