@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E8E0D7;
}

div.content {
    padding: 1px 16px;
}

#header {
    color: #F27144;
    text-align: center;
    margin-top: 2%;
    font-size: 20px; /* Default font-size */
}

.tablecont {
    margin-top: 2%;
    margin-left: 20%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 100px;
}

.tablehead {
    text-transform: uppercase;
    color: #3AB9C0;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

.tableHeader {
    border-bottom: 3px solid #000000;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Text */
@media screen and (max-width: 600px) {
    #header {
        font-size: 20px; /* Adjusted font-size for smaller screens */
    }
}
