@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E8E0D7;
}

.sidebar {
  margin-right: 100px;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #3AB9C0;
  padding: 16px;
  text-decoration: none;
  margin-left: 15px;
}

.sidebar a:hover {
  color: #F27144;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 80%;
  position: relative;
}

/* Responsive adjustments */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
}

@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

